*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    padding-top: 40px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    box-shadow: rgb(0, 0, 0,0.35) 0px,5px,15px;
    background-color: black;
    color: black;
}
.header ul{
    display: flex;
    
    
}
.header ul li {
    margin-right: 20px;
    list-style: none;
    
}
.header ul li a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
    width: 80px;
    align-items: center;
    padding-left: 20px;
}
.header ul li a:hover{
   
    color: blue;
    
}
.navbar-brand img{
    height: 60px;
    width: 80px;
  }

